@import './colors.scss';
@import './variables.scss';
@import './animations.scss';

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: $VIEWPORT_BACKGROUND;
  position: relative;
  color: $VIEW_PORT_TEXT;
}

html {
  overflow: auto;
}

body {
  a {
    text-decoration: none;
    color: inherit;
  }
}

input {
  :focus {
    outline: none;
  }
}

select {
  :focus {
    outline: none;
  }
}

.root {
  position: relative;
  height: 100%;
  width: 100%;
}

/*
** Fade in Transition
*/
.fadeIn-enter {
  opacity: .01;

  &.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
}

.fadeIn-leave {
  opacity: 1;

  &.fadeIn-leave-active {
    opacity: .01;
    transition: opacity 200ms ease-in;
  }
}

.fadeIn-appear {
  opacity: .01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

/*
** Fly In Transition
*/
.flyIn-enter {
  opacity: .01;
  transform: translateY(2rem);
}

.flyIn-enter.flyIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.flyIn-leave {
  opacity: 1;
  transform: translateY(0);
}

.flyIn-leave.flyIn-leave-active {
  opacity: .01;
  transform: translateY(2rem);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.flyIn-appear {
  opacity: .01;
}

.flyIn-appear.flyIn-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
