// ======================================================
// Admin Colors
// ======================================================
$APP_SIDE_BAR_COLOR: #2b323a;
$APP_HEADER_BAR_COLOR: #FFFFFF;
$VIEWPORT_BACKGROUND: #e5e6e6;
$ACCENT: #0aa89e;
$SIDE_BAR_TEXT: #aaaaaa;
$VIEW_PORT_TEXT: #454F4F;
$ALERT: #F44336;

/**
 * Colors
 */
$WHITE: #FFFFFF;
$TEXT_DARK: #2F4666;
$BACKGROUND_DARK: #2F4666;
$INNOSOL_GRAY: #E0E0E0;
$ORANGE: #F77D0F;
$GREEN: #26CD57;
$INTERFACE_LIGHT: #F0F0F0;
$INTERFACE_DARK: #4F5959;
$INNOSOL_PAGE_BACKGROUND: #EEEEEE;
$INTERFACE_MEDIUM: #B5BEBD;
$PINK: #C51162;
$PRIMARY_BLUE: #6D9CBE;
$SECONDARY_BLUE: #79BBE0;

/**
 * Colors
 */
$PAGE_BACKGROUND: #F7F7F7;
$POSITIVE: #26CD57;
$NEGATIVE: #E65F00;
$NEUTRAL: #888888;
$WARNING: #FC7F00;
$BASE_1: #D4D4D4;
$BASE_2: #E8E8E8;
$BASE_3: #F2F2F2;
$BASE_4: #FFFFFF;
$ACTION_1: #2196F3;
$ACTION_2: #39A1F4;
$ACTION_3: #00B22D;
$PRIMARY_TOP: rgba(0, 0, 0, .85);
$SECONDARY_TOP: #848484;
$DISABLED_TOP: #A6A6A6;
$DIVIDER: rgba(0, 0, 0, .12);

$RATING_BADGE: #222222;

/**
 * Timings and Animation
 */
$TIMING_VERY_SHORT: .1s;
$TIMING_SHORT: .25s;
$TIMING_MEDIUM: .33s;
$TIMING_LONG: .5s;
$TIMING_VERY_LONG: 1s;

$LETTER_SPACING_STANDARD: .5px;
$LETTER_SPACING_STRONG: .8px;
