$FONT_SPACING_REGULAR: .5px;
$FONT_SPACING_STRONG: .8px;

$FONT_1: 12px;
$FONT_2: 14px;
$FONT_3: 16px;
$FONT_4: 18px;
$FONT_5: 22px;

$FONT_WEIGHT_SUBTLE: 300;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_BOLD: 500;
$FONG_WEIGHT_X_BOLD: 700;
