@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.sign__in__input {
  height: 62px;
  width: 360px;
  position: relative;
}

.sign__in__input__container {
  width: 100%;
  position: relative;
  height: 100%;
}

.sign__in__input--input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 2em;
  color: $INNOSOL_GRAY;
  position: relative;
  padding-left: .5rem;
  border-bottom: 1px solid $INNOSOL_GRAY;
  box-sizing: border-box;
  letter-spacing: $FONT_SPACING_STRONG;
}

.sign__in__input--input:focus {
  outline: none;
}
