@import '../../styles/colors.scss';
/**
  * Sign In Logo
  */

.signIn__logo {
  position: relative;
  height: 100%;
  width: 100%;
  color: $ORANGE;
}

.signIn__logo__top {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn__logo__bottom {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn__logo__icon {
  width: 100%;
  height: 100%;
}

.signIn__logo__decoration {
  fill: currentColor;
}

.signIn__logo__label {
  font-size: 1.6rem;
  letter-spacing: 1em;
  font-weight: 100;
}
